@page
@model Academia.Pages.Personais.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<partial name="_Breadcrumbs" />

<div>
    <h4>Personal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Sobrenome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Sobrenome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Ativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.DataAdicionado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.DataAdicionado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.DataModificado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.DataModificado)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Personal.Id">Edit</a> |
    <a asp-page="./Index">Voltar para a lista</a>
</div>
