@page
@model Academia.Pages.Personais.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<partial name="_Breadcrumbs" />

<div class="container py-5">
    <h4>PERSONAL TRAINNER</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Sobrenome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Sobrenome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personal.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personal.Telefone)
        </dd>
    </dl>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Personal.Id">Editar</a> |
        <a asp-page="./Index">Voltar para a lista</a>
    </div>
</div>