@page
@model Academia.Pages.Clientes.DeleteModel

@{
    ViewData["Title"] = "Apagar";
}

<partial name="_Breadcrumbs" />

<div class="container py-5">
    <h3>Você tem certeza que quer remover isto?</h3>
    <div>
        <h4>Cliente</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cliente.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cliente.Sobrenome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cliente.Sobrenome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cliente.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cliente.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cliente.Telefone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cliente.Telefone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cliente.FormaPagamento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cliente.FormaPagamento.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cliente.Personal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cliente.Personal.Nome)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Cliente.Id" />
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            <a asp-page="./Index">Voltar para a lista</a>
        </form>
    </div>
</div>