@page
@model Academia.Pages.Clientes.IndexModel

@{
    ViewData["Title"] = "Clientes";
}

<partial name="_Breadcrumbs" />

<div class="container-fluid py-5">
    <p>
        <a asp-page="Create">Adicionar</a>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered table-responsive-lg m-0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente[0].Identificacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente[0].Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente[0].Sobrenome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente[0].Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente[0].Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente[0].FormaPagamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente[0].Personal)
                    </th>
                    <th>
                        Opções
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cliente)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identificacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sobrenome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormaPagamento.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Personal.Nome)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Apagar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>